# Data Science 2: Multivariate Component Analysis Exam, 05 July 2022
 - Date: 05-July-2022
 - Student: Parvej Chowdhury
 - Student ID:

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

from scipy import stats
from sklearn import datasets
import sklearn
from sklearn.decomposition import FactorAnalysis
import statsmodels
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
from statsmodels.compat import lzip

# !factor_analyzer pip install factor_analyzer
from factor_analyzer import FactorAnalyzer

## Data Visualization
import seaborn as sns
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
sns.set()

## Multidimensional Scaling
from sklearn.manifold import MDS
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn import metrics

import sklearn.datasets as dt
from sklearn.metrics.pairwise import manhattan_distances, euclidean_distances
from matplotlib.offsetbox import OffsetImage, AnnotationBbox

import warnings
warnings.filterwarnings('ignore')

In [3]:
df_lysozyme = pd.read_csv('lysozyme_rmsds.csv')
df_lysozyme.head()
# df_lysozyme.columns

,Unnamed: 0,1ta0,5m1y,1flq,4ru1,1uia,3ma8,2zc6,4m53,1cwv,...,5dla,4u2a,6fe3,4ws6,225l,1l17,4zee,5hmj,4qdn,4x6p
0,1ta0,0.000000,9.944671,10.914137,5.368414,10.147917,6.330169,13.397298,4.796260,6.708178,...,10.748649,4.697932,6.442754,5.967243,6.613105,6.550033,10.885024,10.758552,10.531178,7.134530
1,5m1y,9.944671,0.000000,0.351689,8.778090,0.360542,6.532751,6.447437,11.661980,10.892651,...,0.450633,6.518186,10.142028,8.008221,5.411168,5.225135,0.423226,0.382607,4.660109,6.716681
2,1flq,10.914137,0.351689,0.000000,8.781974,0.201154,5.892352,6.476417,10.141856,8.676370,...,0.300225,6.862653,8.398187,8.305965,5.385658,5.390587,0.312325,0.241490,4.646545,6.584307
3,4ru1,5.368414,8.778090,8.781974,0.000000,8.802099,6.510888,11.596014,6.613473,6.483236,...,10.002309,9.219876,8.978669,5.131378,8.586637,9.308215,7.545538,9.995192,11.135262,10.210994
4,1uia,10.147917,0.360542,0.201154,8.802099,0.000000,8.169978,6.458828,11.358191,10.635841,...,0.296834,7.002353,11.221244,10.178038,5.404494,5.409590,0.333920,0.247616,4.522474,6.734468

In [4]:
df_covid = pd.read_csv('metabolom_data.csv')
df_covid.head()

,SampleID,Species,Unk3.2,Unk3.6,Unk11.9,Unk12.4,aPinene,Camphene,bPinene,aPhellendrine,pcymene,Cineole,Unk18.2,Unk18.6,Unk20.5,Camphor,Unk21,Unk21.5,Unk23.5
0,MF032,wyoming,17.447216,78.480388,2.575015,0.480588,6.873549,14.667799,10.505447,64.308777,5.311575,6.917810,10.258485,29.725402,5.320274,92.868922,32.733879,245.373027,9.190845
1,MF034,wyoming,0.000000,0.000000,0.566885,9.274434,29.331204,189.922801,20.664100,0.368826,8.201353,140.641077,0.000000,1.275490,0.000000,0.000000,675.617594,13.323675,0.646352
2,MF036,wyoming,13.247976,52.978520,3.838784,0.000000,5.958195,6.564323,23.170531,61.671574,2.010833,4.594991,9.309720,27.877841,10.200175,54.894681,25.178064,232.263740,8.166170
3,MF038,wyoming,0.000000,71.897745,5.582314,7.300492,8.662203,3.662696,9.404492,0.165965,1.854227,6.792163,9.031663,32.740878,7.444111,67.025993,24.894070,392.559512,10.195839
4,MF049,wyoming,15.501606,56.658287,7.009434,0.397118,0.000000,9.505731,11.259664,18.164837,3.222653,17.167722,9.857530,6.071136,10.047028,87.913989,33.114384,0.341623,11.994086

In [5]:
# df = pd.read_csv("randompoisson.dat.gz", compression="gzip", sep="\s+")
# df.head()
destinations = pd.read_csv('/homes/pachowdhury/Downloads/randompoisson.dat/randompoisson.dat', compression='gzip', sep="\s+")
destinations.head()
# destinations.info

,572,752,666,140,2211,398,23,2071,1653,708,...,2865.1,410.8,293.9,86.6,999.1,199.11,80.5,359.3,483.4,367.11
0,588,750,620,166,2265,402,23,2152,1580,744,...,2792,467,316,97,994,179,96,370,472,388
1,580,694,666,166,2148,348,31,2141,1509,699,...,2763,459,272,121,914,199,88,400,476,420
2,600,773,681,132,2264,351,22,2146,1685,713,...,2813,415,321,98,985,184,105,376,488,387
3,576,751,645,121,2292,368,23,2050,1577,689,...,2734,426,325,100,1015,166,102,398,437,414
4,592,752,673,149,2243,363,34,2094,1624,707,...,2820,406,329,75,1003,178,100,381,491,391

In [6]:
# Read in data
df_covid = pd.read_excel('SourceData2.xlsx')
df_covid.head()

,ID,Ct,1300,1298,1296,1294,1292,1290,1288,1286,...,818,816,814,812,810,808,806,804,802,800
0,N1,NaN,0.277705,0.277532,0.277387,0.277217,0.277042,0.276930,0.276856,0.276737,...,0.242726,0.241897,0.241107,0.240374,0.239742,0.239234,0.238833,0.238523,0.238314,0.238197
1,N1,NaN,0.251624,0.251438,0.251268,0.251067,0.250843,0.250645,0.250467,0.250280,...,0.213427,0.212628,0.211891,0.211234,0.210662,0.210173,0.209763,0.209450,0.209267,0.209202
2,N1,NaN,0.083310,0.083293,0.083307,0.083338,0.083391,0.083478,0.083585,0.083674,...,0.085724,0.085260,0.084823,0.084445,0.084137,0.083894,0.083715,0.083602,0.083543,0.083495
3,N2,NaN,0.067509,0.067070,0.066684,0.066359,0.066106,0.065938,0.065852,0.065828,...,0.055012,0.054969,0.054902,0.054832,0.054781,0.054767,0.054787,0.054823,0.054857,0.054893
4,N2,NaN,0.129576,0.128690,0.127912,0.127232,0.126676,0.126306,0.126138,0.126113,...,0.099128,0.098794,0.098337,0.097886,0.097527,0.097272,0.097091,0.096970,0.096906,0.096881