In [3]:
import pandas as pd
import numpy as np
import random as rd

!pip install factor_analyzer

# !factor_analyzer pip install factor_analyzer
from factor_analyzer import FactorAnalyzer

from sklearn.decomposition import PCA
from sklearn import preprocessing

import matplotlib.pyplot as plt
import matplotlib.collections as mc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: factor_analyzer in /homes/pachowdhury/.local/lib/python3.8/site-packages (0.4.0)
Requirement already satisfied: scikit-learn in /commons/conda/lib/python3.8/site-packages (from factor_analyzer) (1.0)
Requirement already satisfied: scipy in /commons/conda/lib/python3.8/site-packages (from factor_analyzer) (1.7.1)
Requirement already satisfied: pandas in /commons/conda/lib/python3.8/site-packages (from factor_analyzer) (1.3.3)
Requirement already satisfied: numpy in /commons/conda/lib/python3.8/site-packages (from factor_analyzer) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /commons/conda/lib/python3.8/site-packages (from pandas->factor_analyzer) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /commons/conda/lib/python3.8/site-packages (from pandas->factor_analyzer) (2021.1)
Requirement already satisfied: six>=1.5 in /commons/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->factor_analyzer) (1.16.0)
Requirement already satisfied: joblib>=0.11 in /commons/conda/lib/python3.8/site-packages (from scikit-learn->factor_analyzer) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /commons/conda/lib/python3.8/site-packages (from scikit-learn->factor_analyzer) (2.2.0)

In [4]:
# https://www.youtube.com/watch?v=ttBs_wfw_6U

In [5]:
df = pd.read_csv("bfi.csv")
df.head()

,Unnamed: 0,A1,A2,A3,A4,A5,C1,C2,C3,C4,...,N4,N5,O1,O2,O3,O4,O5,gender,education,age
0,61617,2.0,4.0,3.0,4.0,4.0,2.0,3.0,3.0,4.0,...,2.0,3.0,3.0,6,3.0,4.0,3.0,1,NaN,16
1,61618,2.0,4.0,5.0,2.0,5.0,5.0,4.0,4.0,3.0,...,5.0,5.0,4.0,2,4.0,3.0,3.0,2,NaN,18
2,61620,5.0,4.0,5.0,4.0,4.0,4.0,5.0,4.0,2.0,...,2.0,3.0,4.0,2,5.0,5.0,2.0,2,NaN,17
3,61621,4.0,4.0,6.0,5.0,5.0,4.0,4.0,3.0,5.0,...,4.0,1.0,3.0,3,4.0,3.0,5.0,2,NaN,17
4,61622,2.0,3.0,3.0,4.0,5.0,4.0,4.0,5.0,3.0,...,4.0,3.0,3.0,3,4.0,3.0,3.0,1,NaN,17

In [6]:
df.columns

Index(['Unnamed: 0', 'A1', 'A2', 'A3', 'A4', 'A5', 'C1', 'C2', 'C3', 'C4',
       'C5', 'E1', 'E2', 'E3', 'E4', 'E5', 'N1', 'N2', 'N3', 'N4', 'N5', 'O1',
       'O2', 'O3', 'O4', 'O5', 'gender', 'education', 'age'],
      dtype='object')

In [7]:
#Drop unnecessafr columns

#axis = 1 indicates column; 0 indicates raw

df.drop(['Unnamed: 0', 'gender', 'education', 'age'], axis=1, inplace=True)

In [8]:
df.dropna()

,A1,A2,A3,A4,A5,C1,C2,C3,C4,C5,...,N1,N2,N3,N4,N5,O1,O2,O3,O4,O5
0,2.0,4.0,3.0,4.0,4.0,2.0,3.0,3.0,4.0,4.0,...,3.0,4.0,2.0,2.0,3.0,3.0,6,3.0,4.0,3.0
1,2.0,4.0,5.0,2.0,5.0,5.0,4.0,4.0,3.0,4.0,...,3.0,3.0,3.0,5.0,5.0,4.0,2,4.0,3.0,3.0
2,5.0,4.0,5.0,4.0,4.0,4.0,5.0,4.0,2.0,5.0,...,4.0,5.0,4.0,2.0,3.0,4.0,2,5.0,5.0,2.0
3,4.0,4.0,6.0,5.0,5.0,4.0,4.0,3.0,5.0,5.0,...,2.0,5.0,2.0,4.0,1.0,3.0,3,4.0,3.0,5.0
4,2.0,3.0,3.0,4.0,5.0,4.0,4.0,5.0,3.0,2.0,...,2.0,3.0,4.0,4.0,3.0,3.0,3,4.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2793,3.0,4.0,3.0,1.0,3.0,5.0,4.0,5.0,3.0,4.0,...,5.0,6.0,5.0,5.0,6.0,6.0,1,4.0,5.0,2.0
2794,5.0,5.0,5.0,5.0,3.0,5.0,4.0,2.0,3.0,5.0,...,4.0,5.0,3.0,5.0,2.0,6.0,1,5.0,6.0,2.0
2797,2.0,3.0,5.0,2.0,5.0,5.0,5.0,5.0,1.0,1.0,...,3.0,4.0,3.0,3.0,1.0,5.0,1,6.0,4.0,3.0
2798,5.0,2.0,2.0,4.0,4.0,5.0,5.0,5.0,2.0,6.0,...,5.0,5.0,6.0,4.0,1.0,5.0,2,5.0,5.0,1.0
2799,2.0,3.0,1.0,4.0,2.0,5.0,5.0,3.0,3.0,3.0,...,1.0,2.0,2.0,1.0,1.0,3.0,1,3.0,5.0,1.0

In [9]:
df.columns

Index(['A1', 'A2', 'A3', 'A4', 'A5', 'C1', 'C2', 'C3', 'C4', 'C5', 'E1', 'E2',
       'E3', 'E4', 'E5', 'N1', 'N2', 'N3', 'N4', 'N5', 'O1', 'O2', 'O3', 'O4',
       'O5'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2800 entries, 0 to 2799
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      2784 non-null   float64
 1   A2      2773 non-null   float64
 2   A3      2774 non-null   float64
 3   A4      2781 non-null   float64
 4   A5      2784 non-null   float64
 5   C1      2779 non-null   float64
 6   C2      2776 non-null   float64
 7   C3      2780 non-null   float64
 8   C4      2774 non-null   float64
 9   C5      2784 non-null   float64
 10  E1      2777 non-null   float64
 11  E2      2784 non-null   float64
 12  E3      2775 non-null   float64
 13  E4      2791 non-null   float64
 14  E5      2779 non-null   float64
 15  N1      2778 non-null   float64
 16  N2      2779 non-null   float64
 17  N3      2789 non-null   float64
 18  N4      2764 non-null   float64
 19  N5      2771 non-null   float64
 20  O1      2778 non-null   float64
 21  O2      2800 non-null   int64
 22  O3      2772 non-null   float64
 23  O4      2786 non-null   float64
 24  O5      2780 non-null   float64
dtypes: float64(24), int64(1)
memory usage: 547.0 KB

### Create a Facotr analyzer variable and perform Factor analysis

In [11]:
fa = FactorAnalyzer(n_factors=6, rotation='varimax') #rotation=None,varimax